@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Space+Mono:wght@400;700&display=swap');
.container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, max(50%));
    grid-template-rows: repeat(3, minmax(10%, auto));
    grid-template-areas: 'header header' 'img text_block' 'footer footer';
    max-width: 100%;
    height: 100vh;
}
.header h3 {
    font-family: 'Inconsolata', monospace;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 25px;
    letter-spacing: -0.08em;
    text-transform: uppercase;
    color: #333333;
}
.text_block h1 {
    font-family: 'Space Mono';
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 95px;
    letter-spacing: -0.035em;
    color: #333333;
}
.text_block p {
    font-family: 'Space Mono';
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.035em;
    color: #4F4F4F;
}
.text_block button {
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.035em;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 23px 0;
    border: none;
    text-align: center;
    background-color: #333333;
    max-width: 200px;
}
footer p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #BDBDBD;
}
.header {
    grid-area: header;
}
img {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    grid-area: img;
    width: 540px;
}
.text_block {
    grid-area: text_block;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
footer {
    grid-area: footer;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}    

@media screen and (max-width: 1470px) {
    img {
        width: 200px;
    }
}

@media screen and (max-width: 1279px) {
    .container {
        display: flex;
        flex-direction: column;
    }
    .text_block h1 {
        font-size: 30px;
        line-height: 40px;
    }
    
    .text_block {
        justify-content: center;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
}